html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.btn-nav {
    border-color: #f08080;
    margin-right: 10px;
    color:black;
}

.btn-nav:hover{
    background-color: #f08080;
}

#nav {
    background-color: #76484D;
    min-height:100px;
    margin-bottom: 0 !important;
}

.header__logo {
    grid-area: logo;
    max-width: max-content;
    display: block;
    position: relative;
}

.dropdown-style {
    background-color: white;
    color: hotpink;
    opacity: 1 !important;
    border: 5px solid groove;
    border-color: #76484D;
}

.nav-item-text {
    color: white !important;
    font-family:'Times New Roman';
    font-size:18px;
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-item-text:hover{
    opacity:0.5;
}

.nav-item:hover{
    color:white;
    opacity:0.5;
}

#dropdownlist {
    opacity: 1 !important;
    color: white;
    background-color: #CCAEB1;
}

#dropdownlist:hover {
    opacity: 1 !important;
}

.marqueeDiv {
    background-color: #CCAEB1;
    color: white;
    height: 30px;
}

.items {
    color: black;
    background-color: #CCAEB1;
}

.items:hover{
    color:white;
    background-color:#76484D;
}

.modal {
    background: green;
    width: 200px;
    height: 200px;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    box-shadow: rgba(0,0,0,0.1) 5px 5px;
    justify-content: center;
    align-items: center;
}

#whatsappChatIcon:hover{
    cursor:pointer;
}

/* Carousel container */
#imageCarousel {
    max-width:100%;
    max-height:500px;
    width:100%;
    height: 500px;
    margin: 0px !important;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

    /* Images inside carousel */
    #imageCarousel .carousel-item img {
        width: 100%;
        height:500px;
        object-fit: fill;
    }

/* Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 20px;
}

/* Indicators */
.carousel-indicators li {
    background-color: #444;
}

.carousel-indicators .active {
    background-color: #ff9800;
}

#container-all{
    max-width:100vw;
    margin: 0;
    padding: 0;
}

.card {
    min-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background: #fff;
    margin: 20px auto;
    text-align: center;
    border: solid;
    border-color: #5E3A3F;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.01);              /* slightly bigger */
  box-shadow: 0 6px 16px rgba(0,0,0,0.2); /* deeper shadow */
  border: 1px solid #5E3A3F;          /* darker highlight border */
}

.card-image {
  width: 100%;
  height: 250px;               /* fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;/* no cropping */
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 20px;
  margin: 10px 0;
}

.card-content p {
  color: #555;
  margin: 8px 0 16px;
}

.card-content .btnAdd {
  background: #76484D;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  height:40px;
}

.card-btn {
    background: none ;
    color:black;
    border: solid ;
    border-color: #76484D;
    margin:0 5px 0 5px;
}

.card-btn:hover{
    background:#76484D;
}

.card-content .btnAdd:hover {
    background: #5E3A3F;
}





